<body class="home_background" background="/assets/home_background.jpg">
	<a href="/games/start" title="Start the Game"><img class="start_button" src="/assets/start.png"></a>
	<a href="/games/show_statistics" title="Show Stats"><img class="show_stats" src="/assets/stats.png"></a>
</body>

